// Specific CSS for your home-page
.centered-text-img {
  color: white;
  font-size: 90px ;
  font-weight: bold;
  text-decoration: none;
}
.centered-p-img {
  color: white;
  font-size: 20px ;
  font-weight: bold;
  opacity: 7;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container-banner {
  width: 900px;
  margin: auto;
  justify-content : space-around;
}

.background-img-banner {
  background-image: asset-url("Jurassic-rent-home-banner.jpg");
  height: 900px;
  opacity: 5;
}
