.picture-animal-center {
  text-align: center;
  margin-top: 85px;
}

.description-animal {
  margin-top: 30px;
}

.fa-signature {
  align-self: center;

}
.animal-presentation {
  background-color: #FFF5E1;
  border-radius: 5px;
}

.info-detail-animal {
  display: flex;
}

.animal-question-answer {
  padding-left: 15px;
}

.btn-warning {
  text-align: center;
}
