.picture-animal-center {
  text-align: center;
  margin-top: 85px;
}

.description-animal {
  margin-top: 50px;
}

.fa-signature {
  align-self: center;

}
.animal-presentation {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.info-detail-animal {
  display: flex;
  padding-left: 15px;
  padding-bottom: 15px;
}

.animal-question-answer {
  padding-left: 15px;
}

.btn-warning {
  text-align: center;
}

.container-actions-show{
  text-align: center;
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}
