<div class ="container-general">
    <div class="text-center">
      <h1>Jurassic Rent</h1>
    </div>
    <div class="background-img-banner row justify-content-center">
      <h1 class="centered-text-img">Book your animal</h1>
      <p class="centered-p-img">Live a unique experience by renting for one day or more exotic animals</p>
    </div>
</div>
