<div class ="container-general">
    <%# <div class="text-center">
      <h1>Jurassic Rent</h1>
    </div> %>
    <div class="background-img-banner row justify-content-center">
      <div class="container-banner">
          <%=link_to "Book your dino", animals_path, class:"centered-text-img" %>

        <p class="centered-p-img">Live a unique experience by renting for one day or more a lovely dino</p>

        <%= form_tag animals_path, method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find the dino of your nights" %>
            <%= submit_tag "Search", class: "btn btn-flat" %>
          </div>
        <% end %>


      </div>
    </div>
</div>
