.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e64023;
  transition: background 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}


.btn-flat:hover {
  background: #e64023;
  color: white;
}

.btn-flat a {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e64023;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat-link {
  text-decoration-color: black;
  padding: 8px 24px;
  text-decoration: none;
}

.btn-flat-link:hover a {
  color: gray;
}


// .btn-ariane {
//   font-size: 10px;
//   text-decoration-color: black;
//}

.button-log-in {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e64023;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 11px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-size: 13px;
  margin-right: 10px;
  width: 180px;
}

.btn-ghost:hover {
  opacity: 1;
}
