.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e64023;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: #e64023;
  color: white;
}

.btn-flat a {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e64023;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat-link {
  text-decoration-color: black;
  padding: 8px 24px;
  text-decoration: none;
}

.btn-flat-link:hover {
  color: gray;
}

.button-log-in {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e64023;
  transition: background 0.3s ease;
  text-decoration: none;
}
