.card-booking img {
  width: 150px;
}

.card-booking p {
  opacity: .4;
  font-size: 15px;
  margin-bottom: 0;
}

.card-booking h2 {
  font-size: 3rem;
}

.card-booking {
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  border: 1px solid rgb(230,230,230);
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 20px 20px 75px 20px ;
}

.card-booking .btn-flat {
  position: absolute;
  bottom: 20px;
  align-items: center;
  left: 36px;
  opacity: 1;
}

.cards-booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

}

.card-booking-container {
  width: 1000px;
  margin: auto;
  box-sizing: content-box;
  width: 100%;

}
