.card-window-container {
  width: 175px;
  border-radius: 5x;
}

.card-info-window {
  font-size: 12px;
  line-height: 0.5;
  opacity: .7;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 16px;
  margin-right: 10px;
}
