.btn-flat-index {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #e64023;
    transition: background 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    width: 90px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    a {
      color: white;
    }
}
