<div class ="container-general">
<div class="cover mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1>All My Reviews</h1>
    </div>
  </div>

    <% @reviews.each do |reviews| %>
      <div class="card-reviews">
        <h2><%= reviews.animal.name %></h2>
        <p><%= reviews.animal.description %></p>
        <p>Rating  : <%= reviews.rating %></p>
        <p>Comment : <%= reviews.comment %></p>
      </div>
    <% end %>
</div>
